@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Source+Code+Pro');

/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}img,embed,iframe,object,audio,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0;text-align:left}

/* This line is ONLY for debug purposes */
// { outline: 1px solid red; }

$color-dark:  #0F0F0F;
$terran-blue: #243033;
$metal-blue:  #3D4A4D;
$coral-blue:  #00ACB4;
$marine-blue: #C7EDED;
$shadow-gray: #E3E3E3;
$color-light: #F5F5F5;

$font-mono: 'Source Code Pro', monospace;
$font-text: 'Open Sans', sans-serif;

html { text-rendering: optimizeLegibility; color: $metal-blue; }

a, a:link, a:visited {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}
.terran:hover { color: $terran-blue }
.coral:hover { color: $coral-blue; }
h1, h2, h3 { margin: .5rem 0; }
p { margin-top: 1rem; }
section {
  height: 50vh;
  background-color: $coral-blue;
  color: $color-light;
}

.align-center { text-align: center; }
.card {
  background-color: $terran-blue;
  color: $color-light;
  min-width: 100%;
  min-height: 1rem;
  opacity: 0.9;
  padding: 1rem;
}
.container { width: 75vw; margin-left: 2rem; }
.content {
  border-left: 1px solid $color-light;
  margin-left: 1rem;
  padding-left: 1rem;
  width: 100%;
}
.dict { color: $terran-blue; }
.flex { display: flex; justify-content: center; flex: 1; }
.flex-bottom { align-items: flex-end; }
.flex-center { align-items: center; }
.flex-column { flex-direction: column; }
.flex-left { justify-content: flex-start; }
.flex-right { justify-content: flex-end; }
.flex-space { justify-content: space-between; }
.flex-top { align-items: flex-start; }
.grid { display: grid; }
.has-shadow { box-shadow: 2px 4px 6px 4px $shadow-gray; }
.image { width: 10rem; }
.large { font-size: 2.25rem; }
.medium { font-size: 1.75rem; }
.mono { font-family: $font-mono; }
.rounded { border-radius: .2rem; }
.small { font-size: 1.25rem; }
.smooth { transition: all .3s ease; }
.squared { height: 8rem; width: 8rem; }
.squared-small { height: 3rem; width: 3rem; }
.text { font-family: $font-text; }
.x-small { font-size: 0.75rem; }

@media (max-width: 768px) {
  .content {
    border: none;
    margin: 0;
  }
  .grid {
    display: flex;
    flex-direction: column;
  }
  .hidden-on-mobile {
    display: none;
  }
  .mobile-card {
    flex-direction: column;
    .image {
      width: 100%;
      text-align: center;
    }
  }
}
