h1:not(#main-title), h2:not(#main-title), h3:not(#main-title)
  color $accentColor

iframe
  width 560px
  height 315px
  border none

p:not(.description)
  text-align justify
  font-size 1.1rem

img[alt=Yo]
  width 192px
  height 192px

.nav-link
  font-weight bold

.fourohfour
  padding 1.5rem 0
  font-size 4rem

.message
  font-size 1.5rem

.content
  max-width 960px
  margin 4rem auto
